body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  background: lightgray;
}
.header{
  height: 100px;
  background: #486F91;
  padding: 0 20px;
  color:#fff;
}
.logo{
  line-height: 100px;
  float: left;
  margin-top: 10px;
  text-transform:Uppercase;
}
.menu{
  float: right;
  line-height: 100px;
}
.img2 {
  float: right;
  line-height: 100px;
  padding: 20px 10px 10px 10px;
}
.img2 #first{
  width:20px;
  height: 20px;
  padding: 25px 10px 10px 0px;
}
.img2 ul{
  list-style: none;
}
.img2 ul li{
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  padding:0px;
  line-height: 20px;
  border-radius: 40px;
}
.img2 ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  display: block;
}
.img2 ul li a:hover{
  background: rgba(255, 255, 255, 0.5);
}
.img2 ul li ul li{
  padding: 10px;
  display: none;
}
.img2 ul li:hover ul li{
  display:block;
}
.menu a{
  color:#fff;
  text-transform: Uppercase;
  text-decoration: none;
  padding: 0 10px;
}
.show-menu,.hide-menu{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.menu a:hover,.show-menu:hover,.hide-menu:hover{
  color: #3498db;
}
.show-menu{
  float: right;
}
.show-menu i{
  line-height: 100px;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -111;
}
.img1 {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  background:url("https://images.wallpaperscraft.com/image/road_marking_turn_trees_115266_1920x1080.jpg");
  background-size: cover;
}
@media screen and (min-width:801px) {
  .container{
    width: 80%;
    height: 55vh;
    background: rgba(255,255,255);
    top:65%;
    left: 10%;
    transition: translate(-50%,-70%);
    position: absolute;
    box-shadow: 1px 2px 1px lightgray;
  }
  .ftr{
    padding-top: 10px;
    background-color: #1173c7;
    width:100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
  }
  .city {
    margin-top: 250px;
    width:100%;
    height:20vh;
    background: url("city.png");
  }
  .slt-from {
    float: left;
    height: 5vh;
    width:35%;
  }
  .slt-to{
    margin-top: 0px;
    width: 35%;
    height: 5
    vh;
    float: right;
  }
  .date-D{
    margin-top: 30px;
  }
  h5{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    text-transform:uppercase;
  }
  .info img{
    margin-left: 60px;
    padding: 0;
    float:left;
  }
  .container p{
    font-weight: bold;
    font-family:cursive;
    text-align: center;
  }
  .container select{
    margin-left: 10px;
    width:60%;
    height: 5vh;
    border: 0 ;
    color:#fff;
    box-shadow: 5px 10px 15px 5px #888888;;
    cursor: pointer;
    background: #2c3e50;
    border-radius: 0.25em;
    text-transform: uppercase;
  }
  #date,#number{
    font-size: 15px;
    margin-top: 8px;
    margin-left:43%;
    background: gray;
    height: 4vh;
    border: none;
    border-radius: 3px;
  }
  #number{
    margin-left: 46%;
    width:80px;
  }
  .container input[type="submit"]{
   border: none;
   border-radius: 50px;
   background:#2c3e50;
   height: 5vh;
   width:20%;
   margin-left: 40%;
   color: #fff;
   font-size:20px;
   font-family: cursive;
   text-transform: uppercase;
  }
  .container input[type="submit"]:hover{
    background-color:#6788a5;
  }
}
@media screen and (max-width:500px) {
  .ftr{
    padding-top: 10px;
    background-color: #1173c7;
    width:100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
  }
  .city {
    margin-top: 380px;
    width:100%;
    height:20vh;
    background: url("city.png");
    background-size: cover;
  }
  h5{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    text-transform:uppercase;
  }
  .info img{
    margin-left: 10px;
    padding: 0;
    float:left;
  }
  .container p{
    font-weight: bold;
    font-family:cursive;
    text-align: center;
  }
  .container select{
    margin-left: 10px;
    width:85%;
    height: 5vh;
    border: 0 ;
    color:#fff;
    box-shadow: 5px 10px 15px 5px #888888;;
    cursor: pointer;
    background: #2c3e50;
    border-radius: 0.25em;
    text-transform: uppercase;
  }
  #date,#number{
    margin-left:32%;
    background: lightgray;
    height: 3vh;
    border: none;
    border-radius: 3px;
  }
  #number{
    margin-left: 43%;
    width:50px;
  }
  .container input[type="submit"]{
   border: none;
   border-radius: 50px;
   background:#2c3e50;
   height: 5vh;
   width:50%;
   margin-left: 25%;
   color: #fff;
   font-size:20px;
   font-family: cursive;
   text-transform: uppercase;
  }
  .container input[type="submit"]:hover{
    background-color:#6788a5;
  }
  .img1 {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background:url("https://images.wallpaperscraft.com/image/road_marking_turn_trees_115266_1920x1080.jpg");
    background-size: cover;
  }
  .show-menu,.hide-menu{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 10px 0;
    line-height: normal;
    transition: 0.5s;
  }
  .menu a{
    display: block;
    padding:10px;
  }
  #chk:checked ~.menu {
    right:0;
  }
  .container{
    margin:0;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 1px 1px 1px  lightgray;
    width:80%;
    height: 550px;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255, 0.8);
  }
}
@media screen and (min-width:501px) and (max-width:800px) {
  .ftr{
    padding-top: 10px;
    background-color: #1173c7;
    width:100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
  }
  .city {
    margin-top: 380px;
    width:100%;
    height:25vh;
    background: url("city.png");
    background-size: cover;
  }
  h5{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    text-transform:uppercase;
  }
  .info img{
    margin-left: 10px;
    padding: 0;
    float:left;
  }
  .container p{
    font-weight: bold;
    font-family:cursive;
    text-align: center;
  }
  .container select{
    margin-left: 10px;
    width:85%;
    height: 5vh;
    border: 0 ;
    color:#fff;
    box-shadow: 5px 10px 15px 5px #888888;;
    cursor: pointer;
    background: #2c3e50;
    border-radius: 0.25em;
    text-transform: uppercase;
  }
  #date,#number{
    margin-left:35%;
    background: lightgray;
    height: 3vh;
    border: none;
    border-radius: 3px;
  }
  #number{
    margin-left: 43%;
    width:70px;
  }
  .container input[type="submit"]{
   border: none;
   border-radius: 50px;
   background:#2c3e50;
   height: 5vh;
   width:50%;
   margin-left: 25%;
   color: #fff;
   font-size:20px;
   font-family: cursive;
   text-transform: uppercase;
  }
  .container input[type="submit"]:hover{
    background-color:#6788a5;
  }
  .img1 {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background:url("https://images.wallpaperscraft.com/image/road_marking_turn_trees_115266_1920x1080.jpg");
    background-size: cover;
  }
  .show-menu,.hide-menu{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 10px 0;
    line-height: normal;
    transition: 0.5s;
  }
  .menu a{
    display: block;
    padding:10px;
  }
  #chk:checked ~.menu {
    right:0;
  }
  .container{
    margin:0;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 1px 2px 1px  lightgray;
    width:80%;
    height: 550px;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255, 0.8);
  }
