body{
  margin:0;
  padding:0;
  background:url("https://images.wallpaperscraft.com/image/turn_road_mountains_trees_marking_118733_2048x1152.jpg") ;
  background-size: cover;
  height: 100vh
}
.signup{
  width:400px;
  height: 600px;
  background: rgba(0, 0, 0, 0.5);
  color:#fff;
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 0 10px 15px 0  rgba(0, 0, 0, 0.8), 0 10px 25px 0 rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}
h1 {
  margin-top: -20px;
  text-align: center;
  font-size: 40px;
  color:rgb(123, 202, 255);
}
.header h5{
  padding:0;
  top:-50px;
  left: calc(50% - 50px);
  font-family: serif;
  text-align: center;
  color:#fff;
}
.signup p{
  padding: 0;
  font-weight: bold;
  font-size: 17px
}
.signup input{
  width: 90%;
  border-bottom: 20px;
}
.signup input[type="text"], input[type="password"]{
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline:none;
  color: #fff;
  height: 20px;
  font-size: 15px;
  font-family: sans-serif;
  padding: 5px 10px;
  font-size: 15px;
}
.footer a{
  color:#fff;
  font-size: 30px;
  padding: 20px 30px;
  background:rgba(255,255,255, 0.5);
  border: 1px solid lightblue;
  text-decoration: none;
}
.signup button{
  width:100%;
  border: none;
  border-radius:50px;
  outline: none;
  height: 40px;
  background:#0E99F6;
}
.signup button:hover{
  background-color:#67B8F6;
}
@media screen and (max-width:500px){
  .signup{
    width:80%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 10px 15px 0  rgba(0, 0, 0, 0.8), 0 10px 25px 0 rgba(0, 0, 0, 0.8);
    border-radius: 8px;
  }
}